body{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: white;
  font-family: "Roboto","Arial", sans-serif;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1{
  font-size: 35px;
  line-height: 41px;
}

h2{
  font-size: 35px;
  line-height: 41px;
}

h3{
  font-size: 24px;
  line-height: 30px;
}

form a
{
  max-width: -5px -770px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #323232;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 rgba(50,50,50,0.5);
}

form p{
  position:reative;
}

.blog-news a:hover,
.blog-news a:active,
form a:hover,
form a:active {
  color: #e84d37;
  box-shadow: inset 0 -1px 0 rgba(232,77,55,0.5);
}

.user-block label{
  position: absolute;
  font-size: 0;
}

input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 5px;
  color: #323232;
  border: 1px solid #d3d3d2;
}

.user-block input:valid {
  font-weight: 700;
}

input:focus {
  border: 1px solid #afcdea;
  box-shadow: inset 0 0 2px #afcdea;
}

.main-header {
  min-height: 70px;
  font-size: 0;
  background: transparen;
  /*outline: 1px solid red;*/
}

.main-header input {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container{
  position: relative;
  width: 860px;
  margin: 0 auto;
  padding:0 20px;
  /*outline: 1px solid blue;*/
}

.site-wrapper-item  {
  background: linear-gradient(to bottom , rgba(255,255,255,0.3) 0.01%, #849d8f 20%);
}

.content-wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  transition: background-image 0.5s ease, background-color 0.5s ease;
 /* background-color: #90a69a;*/
}

.slider {
  position: relative;
  padding-top: 313px;
  text-align: center;
  color: #ffffff;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 10px 40px 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.1px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(to bottom, #f26843,#e74a35);
  border-radius: 32px;
  text-shadow: 2px 2px 2px #a0200b;
}
.slide-btn:hover {
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  color: #ffffff;
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  top: 484px;
  left: 35;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls >label:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  background: #ffffff;
  opacity: 0.5;
}

.btn {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
  white-space: nowrap;
  padding: 10px 20px;
  border:none;
  border-radius: 20px;
  background: linear-gradient(to bottom, #f26843, #e74b36);
}
.btn:hover {
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background:linear-gradient(to bottom,#e74a35, #f26843);
}

.btn:active {
  color: #ffffff;
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(to top #c63e2b,#e1613e)
}

.slide {
  min-height: 150px;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background: url("../img/slider_ice_cream_1.png") no-repeat top center #849d8f;
}

#btn-2:checked ~ .site-wrapper {
  background: url("../img/slider_ice_cream_2.png") no-repeat top center #8996a6;

}

#btn-3:checked ~ .site-wrapper {
  background: url("../img/slider_ice_cream_3.png") no-repeat top center #9d8b84;
}

.slide,
.sub-menu,
.user-block form,
.basket-content
 {
  display: none;
}

.logo-header {
  float: left;
  width: 154px;
  height: 64px;
  margin-top: 9px;
  margin-left: -6px;
  /*outline: 1px solid green;*/
}

.main-menu,
.user-block{
  margin: 0;
  margin-top: 7px;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
.main-menu {
  position: relative;
  float: left;
  margin-left: 15px;
  width: 46%;
}

.main-menu li {
  display: inline-block;
  margin-left: 2px;
  padding: 23px 0 23px 0;
  /*outline:1px solid blue;*/
}

.main-menu-item {
  min-height: 32px;
  margin: 8px 13px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3);
  /*border-bottom: 1px solid transparent;*/
  /*outline: 1px solid red;*/
}

.main-menu-item:hover,
.main-menu-item:active,
.current-menu-item {
  margin: 0;
  padding: 7px 13px;
  color: #323232;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: none;

}
.main-menu-item:active {
  box-shadow: inset  0 2px  2px #323232;
}

.current-menu-item {
  color: #ffffff;
  background-color: #d07058;
}

.main-menu > li:hover .sub-menu {
  display: block;
  z-index: 100;
}

.sub-menu,
.user-block form,
.basket-content {
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 15px #323232;
}

.sub-menu {
  left: -7px;
  top: 52px;
  width: auto;
  padding-bottom: 6px;
  list-style: none;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.sub-menu li {
  position: relative;
  display: block;
  min-width: 142px;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.sub-menu-item {
  display: block;
  min-height: 16px;
  margin: 0;
  padding: 10px 20px 5px;
  border: 0;
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  z-index: 100;
}

.sub-menu-item-top {
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  padding: 12px 20px;
}

.sub-menu-item-top::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 9px;
  height: 1px;
  background-color: #d1d0ce;
}
.sub-menu-item-bottom{
  border-radius: 0 0 5px 5px;
}

.sub-menu-item:hover {
  background-color: #fbded7;
  z-index: 50;
}
.sub-menu-item:active {
  background-color: #f6b5a5;
}

.sub-menu-item-current {
  background-color: #d07058;
}

.user-block{
  float: right;
  width: 34%;
  font-size: 0;
  text-align: right;
}

.user-block .user-block-item,
.basket-content {
  color:#ffffff;
  text-decoration: none;
}

.search,
.search p,
.login,
.login p,
.basket,
.basket-not-empty
{
  position: relative;
  display: inline-block;
  color: #ffffff;
}
.search a,
.login a,
.basket a ,
.basket-not-empty a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
  text-decoration: none;
}

.login {
  min-width: 35px;
  padding: 22px 0 14px 0px;
}
.basket,
.basket-not-empty {
  min-width: 40px;
  padding: 24px 0 0 0;
}

.search span,
.search span:hover,
.login span,
.basket span,
.basket-not-empty .basket-span{
  position: relative;
  min-width: 18px;
  min-height: 18px;
  margin-right: 0;
  margin-left: 10px;
  padding: 7px 0 8px;
  border-radius: 18px;
  background-color: rgba(255,255,255,0.22);
}

.search span,
.search span:hover {
  margin-left: 0;
  padding: 7.5px 16px;
}

.login span,
.login span:hover{
  padding-left: 44px;
  padding-right:16px;
}

.basket span{
  padding-left: 44px;
  padding-right: 34px;
}
.basket-not-empty .basket-span{
  margin-left: 10px;
  padding-left: 42px;
  padding-right: 18px;
}

.search span::before,
.search span:hover::before,
.login span::before,
.login span:hover::before,
.basket span::before,
.basket span:hover::before,
.basket-not-empty .basket-span::before,
.basket-not-empty .basket-span:hover::before
{
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  background: url("../img/sprite.png") no-repeat center;
}


.search span::before{
  left: 10px;
  width: 17px;
  height: 17px;
  margin-top: -3px;
  margin-left: -3px;
  background-position:  -5px -609px;
}

.login span::before {
  width: 22px;
  height: 22px;
  margin-top: -4px;
  margin-left: 7px;
  background-position: -5px -551px;
}

.basket span::before,
.basket-not-empty .basket-span::before {
  width: 22px;
  height: 22px;
  margin-top: -4px;
  margin-left: 7px;
  background-position: -5px -106px;
}

.search span:hover,
.login span:hover,
.basket span:hover{
  color: #323232;
  background-color: #f8f7f4;
}

.search span:hover::before{
  background: url("../img/sprite.png") no-repeat center;
  background-position: -5px -636px;
}

.login span:hover::before{
  background: url("../img/sprite.png") no-repeat center;
  background-position: -5px -580px;
}

.basket span:hover::before{
  background: url("../img/sprite.png") no-repeat center;
  background-position: -5px -136px;
}

.search form{
  right: 0px;
  top: 27px;
  padding: 20px 16px;
  width: 309px;
  height: 44px;
  border-radius: 5px;
  color: #d3d3d2;
  background-color: #f8f7f4;
}

.search form::before,
.login form::before,
.basket-not-empty .basket-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
}

.login form {
  right:0px;
  top: 50px;
  padding: 20px;
  width: 235px;
  min-height: 174px;
  border-radius: 5px;
  color: #d3d3d2;
  background-color: #f8f7f4;
}

.search p,
.login p {
  position: relative;
  margin:0;
}

.search label,
.login label {
  pozition:absolute;
  font-size: 0;
}

.search input:valid + label,
.login input:valid + label
{
  font-size: 11px;
  top:-25px;
  left:17px;
  color: #d3d3d2;
}

.search input:focus + label,
.login input:focus + label
{
  font-size: 11px;
  top: -20px;
  left: 15px;
  color: #afcdea;
}

.login button {
  float: left;
}

.search input{
  display: block;
  margin: 0;
  padding-left: 15px;
  width: 309px;
  min-height: 43px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  border-color: #d3d3d2;
}

.search button{
  display: none;
}

.login input{
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 230px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  border-color: #d3d3d2;
}

.ref{
  display: inline-block;
  max-width: 50%;
  text-align: left;
}
.ref a{
  font-size: 13px;
  line-height: 24px;
}

.basket-not-empty .basket-span{
  color:#323232;
  background-color:  #f8f7f4;
}

.basket-not-empty .basket-span::before,
.basket-not-empty:hover .basket-span::before{
  background: url("../img/sprite.png") no-repeat center;
  background-position:   -5px -5px;
}

.basket-content {
  right:0px;
  top: 50px;
  width: 540px;
  min-height: 60px;
  padding: 0;
  padding-bottom: 4px;
  border-radius: 5px;
  color: #d3d3d2;
  background-color: #f8f7f4;
}

.basket-content table{
  padding: 0;
  margin-top:15px;
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 2px solid #cacac7;
}

.basket-content td{
  white-space: nowrap;
  vertical-align: top;
  padding: 15px 10px;
}

.basket-content td:nth-child(1){
  padding:0;
  margin:0;
}

.basket-content td:nth-child(2){
  width:350px;
  white-space: normal;
}

.basket-content td:nth-child(3){
  width:20px;
}

.basket-content td:nth-child(4){
  width:20px;
}


.remove-from-basket{
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 15px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.basket-content .basket-price{
  color: #898989;
}

.basket-content .final-price{
  color: #323232;
}

.basket-content .total-price{
  display: inline-block;
  color: #333333;
  width: 100%;
  margin: 15px 0;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700px;
}

.basket-content a,
.basket-content .basket-weight{
  text-decoration: none;
  color: #323232;
}
.basket-content .btn{
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
}

.remove-from-basket::before,
.remove-from-basket::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  top: -5px;
  left: 10px;
  background-color: #323232;
  border-radius: 1px;
}

.remove-from-basket::before{
  transform:  translateX(-50%) rotate(45deg);
}
.remove-from-basket::after{
  transform:translateX(-50%) rotate(-45deg);
}

.user-block>.search:hover form,
.user-block>.login:hover form,
.user-block>.basket-not-empty:hover .basket-content
{
  display: block;
}

.mode-and-phone{
  position: absolute;
  top: 69px;
  margin-right: -1px;
  right: 20px;
  width: 200px;
  height: 45px;
  color: white;
  font-weight: 700;
  vertical-align: bottom;
  text-align: right;
  /*outline: 1px solid green;*/
}
.gllacy-operation-mode{
  font-size: 14px;
  letter-spacing: 0.05px;
}
.gllacy-phone {
  font-size: 22px;
  letter-spacing: 0.005px;
}

.breadcrumbs{
  margin-top: 15px;
  vertical-align: bottom;
  text-align: left;
  /*outline: 1px solid blue;*/
}

.breadcrumbs-item{
  position: relative;
  float: left;
  margin-right: 20px;
  color: #ffffff;
  box-shadow: none;
}

.breadcrumbs-item:hover {
  color: #ffbc9e;
}

.breadcrumbs .breadcrumbs-item-current,
.breadcrumbs .breadcrumbs-item-current:hover{
  text-decoration: none;
  box-shadow: none;
  color: #ffffff;
}

.breadcrumbs-item::after {
  content: "»";
  position: absolute;
  right: -15px;
  bottom: 18px;
  width: 7px;
  height: 7px;
  color: #ffffff
}
.breadcrumbs-item:last-child::after{
  display: none;
}

.promotions,
.catalog-index,
.special-properties,
.news-and-subscribe{
  font-size: 0;
  /*outline: 1px solid yellow;*/
}

.promotions{
  margin-top: 39px;
}

.promotions-item,
.blog-news,
.mailing-subscribe{
  display: inline-block;
  position: relative;
  width: 380px;
  min-height: 200px;
  margin-right: 20px;
  padding: 16px 20px 14px ;
  font-weight: 600;
  letter-spacing: 0.0001px;
  vertical-align: top;
  text-align: left;
  border-radius: 15px;
  /*outline: 1px solid blue;*/
}
.promotions-item h2{
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  letter-spacing:0.1px;
}
.promotions-item p{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.01px;
  vertical-align: bottom;
  margin-top: 15px;
}

.promotions-item .btn{
  position: absolute;
  bottom: 25px;
  vertical-align: top;
  right: 22px;
}

.promotions-item:nth-child(2n),
.blog-news:nth-child(2n),
.mailing-subscribe:nth-child(2n){
  margin-right: 0;
}

.promotions-item:first-child {
  background: url("../img/crimson_background.png") no-repeat center  #621122;
  background-size: cover;
}

.promotions-item:last-child {
  background: url("../img/chocolate_background.png") #40281d;
  background-size: cover;
}

.catalog-index {
  margin-top: 39px;
  font-size: 0;
}

.product{
  display: inline-block;
  position: relative;
  width: 200px;
  min-height: 200px;
  margin-right: 20px;
  text-shadow: none;
  vertical-align: top;
  text-align: left;
  font-size: 14px;
  /*outline: 1px solid blue;*/
}

.product::before{
  content: "";
  display: none;
}
.product:hover::before{
  position: absolute;
  display: block;
  left: -10px;
  top:-10px;
  right: -5px;
  bottom: -5px;
  height: 120%;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,.4);
  z-index: 2;
}

.product:nth-child(4n){
  margin-right: 0;
}
.product-photo{
   position: relative;
   width: 200px;
   height: 200px;
   z-index: 3;
}
.bestseller {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 0;
  background: url("../img/sprite.png") no-repeat center;
  background-position: -5px -35px;
  border-radius: 50%;
  z-index: 4;
}

.product-price{
  position: absolute;
  top: 150px;
  left: -2px;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-shadow: 1px 1px 0 #999999;
  z-index: 4;
}
.product-price span{
  position: absolute;
  right: -45px;
  bottom: -5px;
  font-size: 28px;
  letter-spacing: 0.1px;
  text-shadow: 0 -1px 0 #c5d7cd;
}
.product-description{
  position: relative;
  margin: 5px;
  margin-bottom: 0;
  padding: 5px 0 23px;
}

.product h4{
  display: block;
  margin-top: 2px;
  margin-bottom: 0;
  min-height: 66px;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
.product a{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: inherit;
  vertical-align: top;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 #c5d7cd;
  z-index: 4;
}
.product a:hover,
.product a:active{
  color: #ea5944;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 #c5d7cd;
}

.product .btn {
  display: none;
  margin: 0 auto;
  padding: 12px 14px;
}
.product:hover .btn{
  position: absolute;
  display: block;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.special-properties{
  margin-top: 15px;
  padding-bottom: 15px;
  font-size: 0;
  color: #323232;
  background:#e4d9c2 url("../img/wafer_background.png");
  border-radius: 15px;
  text-align: left;
}

.special-properties h3{
  margin-top: 2px;
  margin-bottom: 4px;
  padding: 25px 20px 0;
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.1px;
  white-space: pre-wrap;;
}

.special-property{
  display: inline-block;
  position: relative;
  width: 343px;
  margin-left: 77px;
  min-height: 110px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01px;
  line-height: 22px;
  vertical-align: top;
}
.special-property p{
  margin: 17px auto 6px;
  /*padding-right: 5px;*/
}
.special-property::before{
 content: "";
 position: absolute;
 top: 4px;
 left: -57px;
 width: 49px;
 height: 49px;
 background: url("../img/sprite.png") no-repeat center;
}

.icon-ice-cream::before{
  background-position: -5px -385px;
}
.icon-leaf::before {
  background-position: -5px -492px;
}
.icon-cow::before {
  background-position: -5px -166px;
}
.icon-thermometer::before {
  background-position: -5px -663px;
}

.news-and-subscribe {
  margin-top: 42px;
}

.blog-news {
  min-height: 190px;
  background:#ffffff url("../img/strawberry_background.png") no-repeat center;
  background-size: cover;
}
.blog-news h4{
  margin: 7px 0;
  color: #868686;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
}

.blog-news p {
  padding-right: 50px;
}
.blog-news a{
  color: #353535;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-weight: 700;
  background: rgba(255,255,255,0.8);
}

.mailing-subscribe {
  color: #848483;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.1px;
  min-height: 190px;
  background:url("../img/post_background.png") no-repeat center  #ffffff;
  background-size: cover;
}

.mailing-subscribe p{
  padding: 2px 6px 0 6px;
  margin-bottom: 15px;
}
.mailing-subscribe input{
  display: inline-block;
  width: 192px;
  margin-left: 6px;
  padding-left: 12px;
  min-height: 38px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  padding-right:20px;
  box-shadow: none;
}
.mailing-subscribe .btn{
  padding: 10px 21px 12px;
  margin-left:8px;
  margin-top: -1px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 30px;
}

.map-and-contacts{
  position: relative;
  width: 100%;
  min-height: 430px;
  margin:0 auto;
  margin-top: 0;
}

.map{
  margin-top: 5px;
  padding: 0;
  width: 100%;
  height: 430px;
  /*outline: 1px solid red;*/
}

.map .marker_map{
  position: absolute;
  display: block;
  width: auto;
  height: 142px;
  top: 142px;
  left: 180px;
}


.contacts{
  position: absolute;
  right: 20px;
  top: 60px;
  width: 250px;
  min-height: 200px;
  padding: 29px 25px 0;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  border-radius: 5%;
  /*outline:  1px solid red;*/
}

.contacts p{
  margin: 0;
}

.contacts .contacts-phone-nmber {
  font-size: 18px;
  line-height: 28px;
}

.contacts .btn {
  display: block;
  padding: 10px 21px 11px;
  font-weight: 700;
  margin: 25px auto;
}

.contacts {
  padding-right: 26px;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
}

.contacts .contacts-address{
font-size: 18px;
line-height: 24px;
}
.map img{
  width: 100%;
  height: 100%;
}

.page-title{
  margin-top: 0px;
  margin-bottom: 14px;
  letter-spacing: 0.1px;
  font-weight: 700;
}

.filters{
  margin-bottom: 38px;
  padding: 0px;
  /*outline:  1px solid yellow;*/
}

.filters-row{
  font-size: 0;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
/*outline:  1px solid green;*/
}

.filter
{
  display: inline-block;
  min-height: 58px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-right: 13px;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: bottom;
  /*outline:  1px solid blue;*/
}

.filter:nth-last-child(1){
  margin-right: 0;
}

.filter-backing
{
  display: inline-block;
  min-height: 25px;
  margin-top: 6px;
  padding: 5px 16px 5px 14px;
  background-color: rgba(255, 255, 255, 0.3);
  /*outline: 1px solid red;*/
  border-radius: 20px;
}

.filter-backing{
  vertical-align: top;
}

.filter-sort-product{
  padding-left: 12px;
  padding-right: 15px;
  width: 168px;
}

.filter-sort-product select{
  padding-top: 2px;
  padding-left: 0;
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 168px;
}

.filter-sort-product:hover{
  background-color: #ffffff;
}

.filter-sort-product:hover  select{
  color: #323232;
}

.filter-pricecount{
  position: relative;
  width: 190px;
  height:0;
}
.filter-pricecount input{
  visibility: hidden;
}

.filter-pricecount::before{
  content: "";
  position: absolute;
  top: 15px;
  width: 188px;
  height: 4px;
  background-color: rgba(255,255,255,0.6);
}

.filter-pricecount::after{
  content: "";
  position: absolute;
  top: 15px;
  left: 25%;
  width: 100px;
  height: 4px;
  background-color: #f8f7f4;
}

.filter-pricecount .marker-begin
{
  content: "";
  visibility: visible;
  position: absolute;
  top: 21%;
  left: 16%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  cursor: pointer;
}

.filter-pricecount .marker-end
{
  content: "";
  visibility: visible;
  position: absolute;
  top: 22%;
  left: 61%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  cursor: pointer;
}

.filter-fatness{
  width: 386px;
}

.filters-form input{
  display: none;
}

.filters-form label{
  position: relative;
  display: inline-block;
  margin: 5px 0;
  padding-left: 31px;
  padding-right: 15px;
}

.product-fillers-fildset{
  padding-right: 21px;
  margin-right: 135px;
}

.product-fillers-fildset label{
  padding-right: 18px;
}

.filters-form label:last-child{
  padding-right: 0;
}

.filters-form input[type="checkbox"]+label::before,
.filters-form input[type="radio"]+label::before
{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
}

.filters-form input[type="checkbox"]+label::before
{
  top: -2px;
  left: 1px;
  border-radius: 15%;
}
.filters-form input[type="radio"]+label::before
{
  top: -1px;
  left: 0;
  border-radius: 50%;
}

.filters-form input[type="radio"]:checked+label::after{
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.filters-form input[type="checkbox"]:checked+label::after{
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 8px;
  height: 4px;
  transform: rotate(-45deg);
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  background-position: -4px -212px;
}
.filters-second-row {
  position: relative;
}
.filter-button{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 3px;
  margin-bottom: 3px;
  padding: 9px 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  vertical-align: bottom;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255,255,255,0.3);
  border: 2px solid #ffffff;
  border: none;
  border-radius: 20px;

}

.filter-button:hover,
.filter-button:active {
  color: #353535;
  background-color: #ffffff;
  border: none;
}

.filter-button:active{
  box-shadow: inset 0 2px 2px #353535;
}
.fieldset-title{
  min-height: 17px;
  margin: 0 15px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.catalog{
  margin-top: 3px;
  min-height: 900px;
  font-size: 0;
}
.catalog .bestseller{
  display: none;
}
.catalog .product{
  margin-bottom: 15px;
}
.catalog .btn,
.catalog .btn:hover,
.catalog .btn:active{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.switch-pages{
  float: right;
  margin-top: 20px;
  font-size: 0;
}

.switch-pages-item {
  display: inline-block;
  padding: 0;
  width: 26px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  margin-left:4px;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  border-radius:  50%;
  box-shadow: none;
}

.switch-pages-item:hover{
  color: #ffffff;
  background-color: rgba(255,255,255,0.3);
  box-shadow: none;
}
.switch-pages-item:first-child,
.switch-pages-item:first-child:hover,
.switch-pages-item:last-child,
.switch-pages-item:last-child:hover{
  background: none;
}
.switch-pages-item-current{
  color: #323232;
  background: #ffffff;
}

.switch-pages-outside,
.switch-pages-outside:hover{
  position: relative;
  width: 18px;
  font-size: 0;
  color: rgba(255, 255, 255, 0.3);
}



.switch-pages-outside::before,
.switch-pages-not-outside::before{
  content: "";
  position: absolute;
  top:50%;
  left:50%;
  width: 6px;
  height: 6px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.switch-pages-outside::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.switch-pages-not-outside::before{
  border-color: #ffffff;
  transform: rotate(-135deg) translate(4px,3px) ;
}

.switch-pages-not-outside{
  position: relative;
  width: 18px;
  font-size: 0;
  color:  #ffffff;
}

.main-footer {
  padding-top: 35px;
  padding-bottom: 25px;
  font-size: 0;
}

.footer-social {
  float: left;
  width: 22.2%;
  font-size: 0;
  padding: 0;
  /*outline:  1px solid red;*/
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 33px 6px 25px;
  font-size: 0;
  border-radius: 50%;
}
.social-btn:first-child{
  margin-left: 0;
}
.social-btn:last-child{
  margin-right: 0;
}

.social-btn::before,
.social-btn:hover::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url("../img/sprite.png") no-repeat;
  opacity: 0.4;
}
.social-btn::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.social-btn:hover::before,
.social-btn:active::before
{
  opacity:1;
}



.social-btn-tw::before,
.social-btn-tw:hover::before {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-position: -5px -722px;
}

.social-btn-inst::before,
.social-btn-inst:hover::before {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-position: -5px -444px;
}

.social-btn-fb::before,
.social-btn-fb:hover::before {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-position: -5px -225px;
}

.social-btn-vk::before,
.social-btn-vk:hover::before {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-position:  -5px -770px;
}

.social-btn:active::after{
  width: 38px;
  height: 38px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -2.5px -318px;
  border-radius: 50%;
}

.footer-menu{
  float: left;
  width: 48.8%;
  margin: 30px 20px 25px;
  font-size: 0;
  /*outline:  1px solid red;*/
}

.footer-menu li {
  display: inline-block;
  vertical-align: top;
  min-width:111px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-menu li:nth-child(2n+1){
  margin-left: 8%;
  margin-right: 30px;
}

.footer-menu a{
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
}

.footer-menu .icon-heart {
  position: relative;
  font-weight: bold;
}

.icon-heart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  background: transparent url("../img/sprite.png") no-repeat center;
  width: 15px;
  height: 13px;
  background-position: -5px -362px;
}

.footer-copyright {
  float: right;
  width: 22.2%;
  font-size: 12px;
  /*outline:  1px solid red;*/
}

.logo-htmlacademy {
  margin-top: 17px;
  margin-bottom: 0;
}

.footer-copyright p{
  margin: 0;
  padding: 0;
}

.footer-copyright p>a{
  color:#ffffff;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 ;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
}

/* Всплывающая форма */
@keyframes ffanim {
  0%  {
    transform: translate(-50%,100%);
  }

  100%  {
    transform: translateY(-50%,50%);
  }
}

.modal-content {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 479px;
  padding: 20px 25px;
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 1000;
}

.modal-content-title{
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
}
.modal-content-show {
  display: block;
  animation: ffanim 0.5s;
}
.modal-content-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 20px;
  height: 3px;
  background-color: #323232;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.feedback-form-name,
.feedback-form-email,
.feedback-form-content {
  margin-bottom: 20px;
  padding-left: 14px;
  width: 252px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 5px;
  color: #323232;
  border: 1px solid #d3d3d2;
}

.feedback-form-name:hover,
.feedback-form-email:hover,
.feedback-form-content:hover{
  border: 1px solid #d3d3d2;
  box-shadow: inset 0 0 2px #d3d3d2;
}

.feedback-form-content {
  margin-bottom: 26px;
  width: 428px;
  height: 156px;
}
.feedback-form p{
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.feedback-form label{
  position: absolute;
  font-size: 0;
}

.feedback-form input:valid {
  font-weight: 700;
}
.feedback-form input:valid + label
{
  font-size: 11px;
  top: -25px;
  left: 17px;
  color: #d3d3d2;
}

.feedback-form input:focus,
.feedback-form textarea:focus{
  border: 1px solid #afcdea;
  box-shadow:inset 0 0 2px #afcdea;
}

.feedback-form input:focus + label
{
  font-size: 11px;
  top:-20px;
  left:15px;
  color: #afcdea;
}


.modal-content .btn{
  float:right;
  cursor: pointer;
}
.overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000;
  z-index: 1;
  opacity: 0.5;
}
.overlay-show{
  display: block;
}
